:root {
  --highlight-color: #57a8e9;
  --input-box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
  --form-control-shadow: 0 0 0 2px rgba(87, 168, 233, 0.5);
}

.ant-input-number {
  width: 100%;
}
.ant-input:focus,
.ant-input:hover {
  border-color: var(--highlight-color);
  outline: 0;
  -webkit-box-shadow: var(--input-box-shadow);
  box-shadow: var(--input-box-shadow);
}

.ant-input-number-input:focus,
.ant-input-number-input:hover {
  border-color: var(--highlight-color);
  outline: 0;
  -webkit-box-shadow: var(--form-control-shadow);
  box-shadow: var(--form-control-shadow);
}

.ant-checkbox:focus .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border: thin solid var(--highlight-color);
  outline: 0;
  -webkit-box-shadow: var(--form-control-shadow);
  box-shadow: var(--form-control-shadow);
}

.ant-modal-header {
  padding: 0 0 16px 0;
  border: none;
}

.ant-modal-header h1 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.ant-modal-body {
  padding: 0;
}

.ant-modal-content {
  padding: 24px;
}

.ant-modal-title {
  font-size: 20px;
  font-weight: 600;
}

.ant-col > .ant-form-item-label {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: Montserrat-Medium, sans-serif;
  font-weight: 500;
  padding-bottom: 6px;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  color: #000000;
  font-family:  Montserrat-Medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background-color: transparent;
}

.ant-menu-item {
  border-bottom-color: transparent !important;
}

.ant-dropdown-menu-item:hover {
  background-color: rgb(218, 224, 231);
}

.ant-dropdown-menu-item:active {
  background-color: rgb(195, 206, 217);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgb(195, 206, 217);
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: rgb(218, 224, 231);
}

.ant-select-item-option-active.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgb(195, 206, 217);
}