html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  background-color: black;
  font-family: Montserrat-Medium, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-message {
  color: black;
}
