html,
body {
  margin: 0;
  height: 100%;
  color: black;
  font-family: Montserrat-Medium, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

a {
  color: black;
  text-decoration: underline;
}

.card-checkbox span span {
  border: 1px solid white !important;
}

.ant-descriptions-item > span {
  display: flex;
}

.intercom-lightweight-app {
  z-index: 10000 !important;
}

.intercom-launcher-frame {
  z-index: 10000 !important;
}
